.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding: 20px 20px 0 20px;
  background-color: #0474bc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.legend {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 200;
  font-size: 0.775rem;
  line-height: 1;
  letter-spacing: 0.01071em;
}